*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header, footer{
    height: 100px;
    background-color: darkorange;   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 200px);
}
.sec{
    height: 25%;
    border:  solid 1px;
    background-color: darkmagenta;
}
.sec1{
    height: 50%;
    background-color: chartreuse;
}
.sec, .sekcja{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 200px;
}
